<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.Genesis.core.mednafen</string>
	<key>PVPrincipleClass</key>
	<string>MednafenGameCore</string>
	<key>PVProjectName</key>
	<string>Mednafen</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.Genesis.saturn</string>
		<string>com.Genesis.psx</string>
		<string>com.Genesis.lynx</string>
		<string>com.Genesis.ngp</string>
		<string>com.Genesis.ngpc</string>
		<string>com.Genesis.pce</string>
		<string>com.Genesis.pcecd</string>
		<string>com.Genesis.pcfx</string>
		<string>com.Genesis.sgfx</string>
		<string>com.Genesis.vb</string>
		<string>com.Genesis.ws</string>
		<string>com.Genesis.wsc</string>
		<string>com.Genesis.nes</string>
		<string>com.Genesis.snes</string>
		<string>com.Genesis.gb</string>
		<string>com.Genesis.gbc</string>
		<string>com.Genesis.gba</string>
	</array>
	<key>PVProjectURL</key>
	<string>https://mednafen.github.io</string>
	<key>PVProjectVersion</key>
	<string>1.27.1</string>
</dict>
</plist>
